:root {
  --primary: 186, 37, 101;
  --dark: 29, 29, 29;
  --body: 255, 255, 255;
  --grey: 246, 246, 246;
  --grey_dark: 229, 229, 229;
  --color_text: #1d1d1d;
  --light: 255, 255, 255;
  --ff: "Hauora";
}
// @media (any-hover: hover)
